<style>
  .stagePlanSection {
    margin-top: 2mm;
  }

  .stagePlanSection .stagePlan {
    width: 100%;
  }
</style>
<div class="stagePlanSection">
  <img class="stagePlan" src="./<%= section.image %>" alt="Lavakartta">
</div>
